button.home-browse-button {
    all: unset;
    margin-top: 2.5rem;
    width: 10rem;
    height: 3.5rem;
    cursor: pointer;
    color: #ffffff;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: black;
}